.container {
  display: flex;
  flex-direction: column;
}
.header {
  min-height: 8vh;
  width: 100%;
  background-color: #f0f2f5;
}
.search {
  min-height: 6vh;
  width: 100%;
  /* background-color: red; */
  border-bottom: 1px solid #f0f2f5;
}
.chats {
  width: 100%;
  /* background-color: red; */
  overflow: auto;
}
