<div class="container">
  <div class="icon">
    <img
      class="icon-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/d413195b18d9bd88475d91aa459dc21c85f56219/searchIcon.svg"
      alt="search"
    />
  </div>
  <div class="search">
    <!-- <input type="text" /> -->
  </div>
  <div class="sort">
    <!-- <img
      class="sort-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/6015eb54ac6713c53a3cf1fd1b802e2b8432b333/sort.svg"
      alt="sort"
    /> -->
  </div>
</div>
