.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  background-color: blue;
}
.icon {
  width: 15%;
  background-color: red;
  /* background-color: #f0f2f5; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* .icon-img {
  cursor: pointer;
} */
.search {
  width: 70%;
  background-color: greenyellow;
  /* background-color: #f0f2f5; */
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
}
/* input {
  border: none;
  border-color: transparent;
  background-color: #f0f2f5;
  color: gray;
} */
/* input:focus {
  outline: none;
} */
.sort {
  width: 15%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .sort-img {
  cursor: pointer;
} */
