<div class="container">
  <div class="avatar">
    <img
      class="avatar-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/main/avatar.jpg"
      alt="Avatar"
    />
  </div>
  <div class="menubar">
    <img
      class="community-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/d413195b18d9bd88475d91aa459dc21c85f56219/community.svg"
      alt="community"
    />
    <img
      class="status-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/d413195b18d9bd88475d91aa459dc21c85f56219/statusIcon.svg"
      alt="status"
    />
    <img
      class="chat-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/d413195b18d9bd88475d91aa459dc21c85f56219/chatIcon.svg"
      alt="chat"
    />
    <img
      class="menu-img"
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/d413195b18d9bd88475d91aa459dc21c85f56219/moreVertIcon.svg"
      alt="menu"
    />
  </div>
</div>
